<div class="modal fade" id="checkinModal" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-gradient-primary align-items-center">
        <h5 class="modal-title">เช็คอิน - ลงทะเบียนเข้าพัก</h5>
        <button type="button" class="ac-btn ac-close-modal" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped table-bordered">
          <tbody>
            <tr>
              <th style="width: 25%;" scope="row">เลขที่จอง</th>
              <td style="width: 75%;" class="checkin-info"></td>
            </tr>
            <tr>
              <th scope="row">ตึก/อาคาร ชั้น</th>
              <td class="checkin-info"></td>
            </tr>
            <tr>
              <th scope="row">หมายเลขห้อง</th>
              <td class="checkin-info"></td>
            </tr>

            <tr>
              <th scope="row">วันที่เช็คอิน</th>
              <td class="checkin-info"></td>
            </tr>
            <tr>
              <th scope="row">วันที่เช็คเอ้าท์</th>
              <td class="checkin-info"></td>
            </tr>
            <tr>
              <th>ชื่อ - นามสกุล</th>
              <td class="checkin-info"></td>
            </tr>
          </tbody>
        </table>
        <div class="">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>เช็คอิน</label>
                  <input disabled type="date" class="form-control border-0" id="checkin">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>เช็คเอ้าท์</label>
                  <input disabled type="date" class="form-control border-0" id="checkout">
                </div>
              </div>
            </div>
            <label>การยืนยัน</label>
            <div class="form-inline">
              <div class="custom-control custom-radio m-1">
                <input class="custom-control-input" type="radio" value="false" id="acceptOrder" name="accept-order">
                <label for="acceptOrder" class="custom-control-label">ไม่</label>
              </div>
              <div class="custom-control custom-radio m-1">
                <input class="custom-control-input" type="radio" value="true" id="declineOrder" name="accept-order">
                <label for="declineOrder" class="custom-control-label">ตกลง</label>
              </div>
            </div>
            <p class="empty-validate" id="validate-acceptOrder"></p>
            <div id="changeroomDisplay" style="display: none;">
              <label>เปลี่ยนห้อง</label>
              <div class="form-inline">
                <div class="custom-control custom-radio m-1">
                  <input class="custom-control-input" type="radio" value="false" id="changeroomAccept" name="changeroom">
                  <label for="changeroomAccept" class="custom-control-label">ไม่</label>
                </div>
                <div class="custom-control custom-radio m-1">
                  <input class="custom-control-input" type="radio" value="true" id="changeroomNo" name="changeroom">
                  <label for="changeroomNo" class="custom-control-label">ตกลง</label>
                </div>
              </div>
              <p class="empty-validate" id="validate-changeroom"></p>
            </div>


            <div class="row" id="refundPayNoAcceptForm" style="display: none;">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="my-1 p-1">คืนเงิน</label>
                  <input type="number" class="form-control" onchange="getCurrentRefundPay()" oninput="getCurrentRefundPay()" id="refundPayNoAccept">
                </div>
                <p class="empty-validate" id="validate-refundPayNoAccept"></p>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="my-1 p-1">ชำระแล้ว</label>
                  <input type="number" disabled class="form-control" id="paidNoAccept">
                </div>
                <p class="empty-validate" id="validate-paidNoAccept"></p>
              </div>
            </div>
            <section id="getChangeroomData" style="display: none;">
              <label class="text-primary p-1 my-1">สำหรับเปลี่ยนห้องพัก</label>
              <div class="form-group">
                <label class="my-1 p-1">รหัสข้อมูลห้องพัก</label>
                <div class="input-group">
                  <input disabled type="text" name="textid" class="form-control" id="roomId" onchange="getCurrentPrice()" onpaste="getCurrentPrice()" oninput="getCurrentPrice()" placeholder="ป้อนรหัสข้อมูล">
                  <div class="input-group-prepend">
                    <button class="input-group-text btn bg-gradient-secondary" onclick="pasteData($('#roomId'),getCurrentPrice)">
                      <i class="fa-solid fa-paste"></i>
                    </button>
                  </div>
                </div>
                <p class="empty-validate" id="validate-roomId"></p>
              </div>
              <div class="form-group">
                <label class="my-1 p-1">รหัสห้อง</label>
                <div class="input-group">
                  <input disabled type="text" name="textid" class="form-control" id="roomNumberId" onchange="getCurrentPrice()" oninput="getCurrentPrice()" placeholder="ป้อนรหัสห้องพัก">
                  <div class="input-group-prepend">
                    <button class="input-group-text btn bg-gradient-secondary" onclick="pasteData($('#roomNumberId'),getCurrentPrice)">
                      <i class="fa-solid fa-paste"></i>
                    </button>
                  </div>
                </div>
                <p class="empty-validate" id="validate-roomNumberId"></p>
              </div>
              <div class="form-group">
                <label class="my-1 p-1">หมายเลขห้อง</label>
                <input type="text" disabled class="form-control" id="roomNumber" oninput="getCurrentPrice()" placeholder="ป้อนรหัสห้องพัก">
                <p class="empty-validate" id="validate-roomNumber"></p>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="my-1 p-1">ยอดเดิม</label>
                    <input type="text" disabled class="form-control" id="oldTotal">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="my-1 p-1">ชำระแล้ว</label>
                    <input type="text" disabled class="form-control" id="paid">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <label class="my-1 p-1">จำนวน</label>
                  <input type="number" disabled class="custom-select my-1" id="timeCount" placeholder="ป้อนจำนวน">
                </div>
                <div class="col-md-4">
                  <label class="my-1 p-1">หน่วย</label>
                  <select disabled class="custom-select my-1" id="unitTime">
                    <option value="" selected>หน่วยเวลา</option>
                    <option value="days">วัน</option>
                    <option value="months">เดือน</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label class="my-1 p-1">ราคา</label>
                  <input type="number" disabled class="custom-select my-1" id="price" placeholder="ราคา">
                </div>
                <div class="col-md-4">
                  <label class="my-1 p-1 text-primary">ยอดรวมทั้งสิ้น (ล่าสุด)</label>
                  <input type="number" disabled class="custom-select my-1" id="total" placeholder="ยอดรวม">
                  <p class="empty-validate" id="validate-total"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="my-1 p-1">ค้างชำระ(เดิม)</label>
                    <input type="text" disabled class="form-control" id="remain">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="my-1 p-1">ค้างชำระ (ล่าสุด)</label>
                    <input type="text" disabled class="form-control" id="overdue">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="my-1 p-1">คืนเงิน</label>
                    <input type="text" disabled class="form-control" id="refundPay">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="my-1 p-1">ชำระเพิ่ม</label>
                    <input type="text" disabled class="form-control" id="paymore">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="my-1 p-1">จ่ายเงิน</label>
                    <input type="number" class="custom-select" onchange="getCurrentOverdue()" oninput="getCurrentOverdue()" id="pay">
                    <p class="empty-validate" id="validate-pay"></p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn bg-gradient-secondary rounded-0 " data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
          <span class="ml-1 font-weight-bold">ปิด</span>
        </button>
        <button id="checkinConfirm" class="btn bg-gradient-success rounded-0">
          <i class="fa-solid fa-check"></i>
          <span class="ml-1 font-weight-bold"> ยืนยัน</span>
        </button>
      </div>
    </div>
  </div>
</div>
