<div class="d-flex flex-column justify-content-center align-items-center">
  <h1>ยินดีต้อนรับ</h1>
  <h4 class="font-weight-bold">ระบบห้องพัก</h4>
  <img src="/src/img/myst_room_logo.png" style="height: 12rem;">
</div>