<div class="modal fade" id="officerInfoModal" tabindex="-1">
  <div class="modal-dialog  modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-gradient-primary align-items-center">
        <h5 class="modal-title">ข้อมูลเจ้าหน้าที่</h5>
        <button type="button" class="ac-btn ac-close-modal" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label> บทบาท / หน้าที่ </label>
          <p>
            <strong>หมายเหตุ</strong>
            <span> โดยจะเป็นหน้าที่ ตามตำแหน่ง บทบาทเริ่มต้น</span>
            <strong class="text-primary">หากต้องการให้สามารถทำหน้าที่ให้มากกว่า บทบาทเริ่มต้น สามารถจัดการบทบาท</strong>
          </p>
          <div>
            <div>
              <h4>แคชเชียร์ (cashier)</h4>
              <ul>
                <li>สามารถทำรายการจอง</li>
                <li>ดูข้อมูล การเช่า การจอง</li>
                <li>ยืนยันการชำระเงิน</li>
                <li>เช็คอินเข้าพัก</li>
              </ul>
            </div>
            <div>
              <h4>ผู้ดูแลเว็บไซต์ (website)</h4>
              <ul>
                <li>เพิ่ม meta </li>
                <li>ปรับแต่ง โลโก้</li>
                <li>เพิ่มข้อมูลเกี่ยวกับห้องพัก เว็บไซต์</li>
                <li>เพิ่ม ภาพสไลด์ โฆษณา</li>
                <li>เพิ่มช่องการติดตามข้อมูล</li>
              </ul>
            </div>
            <div>
              <h4>การเงิน - บัญชี (finance)</h4>
              <ul>
                <li>ดูข้อมูล สร้าง รายงาน การจอง (การจอง)</li>
                <li>ดูไฟล์ PDF (การจอง)</li>
                <li>ช่องทางการชำระเงิน (การชำระเงิน)</li>
                <li>QR Code (การชำระเงิน)</li>
                <li>โปรโมชั่น (ข้อมูลพื้นฐาน)</li>
                <li>ข้อมูลการติดต่อ (ข้อมูลพื้นฐาน)</li>
              </ul>
            </div>
            <div>
              <h4>ธุรการ - ข้อมูล (administrator)</h4>
              <ul>
                <li>เพิ่ม ลบ แก้ไข ข้อมูล ห้องพัก (ข้อมูลห้องพัก)</li>
                <li>ช่องทางการชำระเงิน (การชำระเงิน)</li>
                <li>QR Code (การชำระเงิน)</li>
                <li>โปรโมชั่น (ข้อมูลพื้นฐาน)</li>
                <li>ข้อมูลการติดต่อ (ข้อมูลพื้นฐาน)</li>
                <li>สมาชิก</li>
              </ul>
            </div>
            <div>

              <h4>ผู้จัดการ (manager)</h4>
              <ul>
                <li>ดูข้อมูล สร้าง รายงาน การจอง (การจอง)</li>
                <li>ดูไฟล์ PDF (การจอง)</li>
              </ul>
            </div>

          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button class="btn bg-gradient-secondary" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
          <span class="ml-1 font-weight-bold">ปิด</span>
        </button>
        <button class="btn bg-gradient-success font-weight-bold" id="officerSubmit">
          บันทึก
        </button>
      </div>
    </div>
  </div>
</div>