<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ลงชื่อเข้าสู่ระบบ</title>
  <script src="/src/jquery-3.6.3.min.js"></script>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="/axios"></script>

  <!-- <link rel="stylesheet" href="/bootstrap4.6/css/bootstrap.min.css"> -->
  <script src="/sweetalert2/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">
  <script src="/js/validate.js"></script>
  <script src="/js/sweetalert.js"></script>
  <script src="/js/display_web.js"></script>
  <link rel="stylesheet" href="/src/css/index.css">
  <!-- <link rel="stylesheet" href="/css/signin.css"> -->
  <style>
    /* body {
      padding: 0px;
      margin: 0px;
      background-image: url('/src/bg/company-w.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh !important;
      width: 100vw !important;
      overflow: hidden;
    }
    .form-control:focus{
      box-shadow: none !important;
      border: 2px solid #0d6efd !important;
    } */
  </style>

</head>

<body class="bg-secondary bg-gradient m-0">
  <div class="container">



    <div class="row align-items-center justify-content-center">
      <div class="col-md-5 col-lg-4">
        <div class="card my-2">
          <div class="card-body">
            <h3 class="text-center p-2 fw-bold"> ระบบห้องพัก </h3>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <img src="/src/img/myst_room_logo.png" style="height: 12rem;">
            </div>
            <h5 class="text-center m-0 fw-bold p-2">ลงชื่อเข้าสู่ระบบ</h5>
            <div class="my-2">
              <label class="my-1 p-1 fw-bold"> ผู้ใช้ </label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa-solid fa-user"></i>
                </span>
                <input type="text" class="form-control" id="username" placeholder="ป้อนผู้ใช้งาน">
              </div>
            </div>
            <div class="my-2">
              <label class="my-1 p-1 fw-bold"> รหัสผ่าน </label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa-solid fa-lock"></i>
                </span>
                <input type="password" class="form-control" id="password" placeholder="ป้อนรหัสผ่าน">
              </div>
            </div>
            <div class="p-1 my-1 d-flex align-items-center">
              <input class="form-check-input" onchange="obscureText('#password')" type="checkbox" value="" id="showPassword">
              <label class="form-check-label m-0 text-muted" for="showPassword">
                แสดงรหัสผ่าน
              </label>
            </div>
            <button class="btn btn-primary bg-gradient w-100" id="signin-submit">
              เข้าสู่ระบบ
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/src/js/admin/signin.js"></script>
</body>

</html>