<div class="card">
  <div class="card-header bg-gradient-secondary">
    <h5 class="card-title">สิ่งอำนวยความสะดวก และของใช้เพิ่มเติม</h5>
  </div>
</div>
<p class="p-0 font-weight-bold">เพิ่มจำนวนของใช้เพิ่มเติม</p>
<div class="row">
  <div class="col-md-3">
    <div class="input-group">
      <input type="number" min="1" value="1" class="form-control form-control-sm custom-select" id="specialOptionCount" />
      <button class="btn bg-gradient-primary border-0 rounded-0" id="addSpecialOption">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>
</div>