<div class="modal fade" tabindex="-1" id="checkout-addtime">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">เพิ่มเวลาพัก</h5>
        <button type="button" class="ac-btn ac-close-modal" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <%- include('room_checkout_addtime_form') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="fw-bold btn btn-light" id="add-price-over">
          เพิ่ม
        </button>
      </div>
    </div>
  </div>
</div>