<div class="modal fade" tabindex="-1" id="bedTypeModalInfo">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-gradient-secondary align-items-center">
        <h5 class="modal-title">เตียง</h5>
        <button type="button" class="ac-btn ac-close-modal" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped ">
            <thead>
              <tr>
                <th style="width: 25%;" scope="col">ประเภทห้อง</th>
                <th style="width: 75%;" scope="col">คำอธิบาย</th>
              </tr>
            </thead>
            <tbody class="table-bordered">
              <tr>
                <th scope="row">King Sized</th>
                <td>
                  ห้องขนาดใหญ่ เตียงมีขนาดใหญ่ 6x6 ฟุต
                  แจ้งเพิ่มเตียงเสริมได้โดยจ่ายค่าธรรมเนียมเพิ่ม
                </td>
              </tr>
              <tr>
                <th scope="row">Queen Sized</th>
                <td>
                  ห้องขนาดรองลงมา เตียงมีขนาดกลาง 5x6 ฟุต
                  แจ้งเพิ่มเตียงเสริมได้โดยจ่ายค่าธรรมเนียมเพิ่ม
                </td>
              </tr>
              <tr>
                <th scope="row">Single</th>
                <td>
                  ห้องเตียงเดี่ยว รองรับผู้เข้าพัก 1 คน มีหนึ่งเตียงขนาด 3x6 ฟุต
                  สามารถเพิ่มเตียงเสริมได้ เรียกว่า Extra bed
                  ต้องจ่ายค่าธรรมเนียมเพิ่ม ขนาดห้องโดยทั่วไปอยู่ระหว่าง 37-45
                  ตารางเมตร
                </td>
              </tr>
              <tr>
                <th scope="row">Twin</th>
                <td>
                  ห้องทวินหรือห้องเตียงคู่ รองรับผู้เข้าพัก 1-2 คน
                  จะมีเตียงเดี่ยวขนาด 3x6 ฟุต 2 เตียง
                  สามารถเพิ่มเตียงเสริมได้โดยจ่ายค่าธรรมเนียมเพิ่ม
                  ขนาดห้องโดยทั่วไปอยู่ระหว่าง 32-40 ตารางเมตร
                </td>
              </tr>
              <tr>
                <th scope="row">Double</th>
                <td>
                  ห้องเตียงคู่ รองรับผู้เข้าพัก 2 คน มีเตียงใหญ่ 1 เตียง ขนาด 4.5x6
                  ฟุต สามารถแจ้งเพิ่มเตียงเสริมได้โดยจ่ายค่าธรรมเนียมเพิ่ม
                  ขนาดห้องโดยทั่วไปอยู่ระหว่าง 40-45 ตารางเมตร
                </td>
              </tr>
              <tr>
                <th scope="row">Triple</th>
                <td>
                  ห้องที่สามารถรองรับผู้เข้าพักได้ 3 คน มี 3 เตียงเดี่ยว
                  หรือมีเตียงคู่ 1 เตียง และเตียงเดี่ยว 1 เตียง
                  ขนาดห้องโดยทั่วไปอยู่ระหว่าง 45-65 ตารางเมตร
                </td>
              </tr>
              <tr>
                <th scope="row">Quad</th>
                <td>
                  ห้องที่รองรับผู้เข้าพักได้ 4 คน อาจมี 2 เตียงหรือมากว่า
                  ขนาดห้องโดยทั่วไปอยู่ระหว่าง 70-85 ตารางเมตร
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-gradient-primary" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
          <span class="ml-1">ปิด</span>
        </button>
      </div>
    </div>
  </div>
</div>