<div class="modal fade" tabindex="-1" id="roomviewModalInfo">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header align-items-center  bg-gradient-secondary">
        <h5 class="modal-title">วิวห้อง</h5>
        <button type="button" class="ac-btn ac-close-modal" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped ">
            <thead>
              <tr>
                <th style="width: 25%;" scope="col">ประเภทห้อง</th>
                <th style="width: 75%;" scope="col">คำอธิบาย</th>
              </tr>
            </thead>
            <tbody class="table-bordered">
              <tr>
                <th scope="row">Garden View</th>
                <td>เป็นห้องที่มองเห็นวิวสวน ซึ่งส่วนใหญ่จะอยู่ห่างจากทะเลที่สุด
                  แต่ร่มรื่นไปด้วยบรรยากาศของส่วน หรือต้นไม้
                </td>
              </tr>
              <tr>
                <th scope="row">Seaview</th>
                <td> เป็นห้องพักที่มองเห็นวิวทะเล โดยอาจจะมีทั้งห้อง
                  ซึ่งส่วนใหญ่จะเป็นห้องใหญ่
                </td>
              </tr>
              <tr>
                <th scope="row">Pool View</th>
                <td>เป็นห้องที่มองเห็นสระน้ำ แต่ไม่สามารถเดินลงสระน้ำได้เลย</td>
              </tr>
              <tr>
                <th scope="row">Pool Access</th>
                <td> เป็นห้องที่หลังห้องติดกับสระนำ สามารถเดินลงสระได้เลย
                  เหมาะกับกลุ่มเพื่อนฝูงที่อยากมีปาร์ตี้ริมสระ
                  แต่ไม่ค่อยแนะนำสำหรับท่านที่อยากได้ความเป็นส่วนตัว
                  เพราะสระว่ายน้ำรวมอาจจะมีแขกท่านอื่นใช้บริการได้ตลอดเวลา
                </td>
              </tr>
              <tr>
                <th scope="row">Beach Front</th>
                <td>เป็นห้องติดหาด ส่วนใหญ่แล้วจะมีจำนวนห้องไม่มาก
                  ท่านใดที่อยากตื่นมานอนเห็นชายหาด ต้องรีบสำรองห้องแบบนี้ไว้ก่อน
                  เพราะปกติจะเต็มเร็วที่สุด
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-gradient-primary" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
          <span class="ml-1">ปิด</span>
        </button>
      </div>
    </div>
  </div>
</div>