<div class="modal fade" tabindex="-1" id="roomTypeDescriptModal">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-gradient-secondary align-items-center">
        <h5 class="modal-title">ประเภทห้อง</h5>
        <button type="button" class="ac-btn ac-close-modal" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped ">
            <thead>
              <tr>
                <th style="width: 25%;" scope="col">ประเภทห้อง</th>
                <th style="width: 75%;" scope="col">คำอธิบาย</th>
              </tr>
            </thead>
            <tbody class="table-bordered">
              <tr>
                <th scope="row">Standard</th>
                <td>ห้องพักที่มีขนาดและการตกแต่งตามมาตรฐานทั่วไป
                  มีสิ่งอำนวยความสะดวกเท่าที่จำเป็น</td>
              </tr>
              <tr>
                <th scope="row">Superior</th>
                <td> เป็นห้องที่มีลักษณะคล้ายกับห้อง Standard
                  แต่มีขนาดห้องกว้างกว่าเล็กน้อย ทัศนียภาพดีกว่า
                  และอาจมีสิ่งอำนวยความสะดวกเพิ่มขึ้นมา 1-2 ชิ้น</td>
              </tr>
              <tr>
                <th scope="row">Deluxe</th>
                <td>ขนาดห้องอาจเท่าหรือกว้างกว่าห้อง Standard
                  แต่มีการตกแต่งสวยงามเป็นพิเศษ ให้ความรู้สึกหรูหรา
                  มีเตียงขนาดใหญ่เป็นพิเศษ มีสิ่งอำนวยความสะดวกครบครัน
                  และยังสามารถมองเห็นวิวในมุมที่สวยที่สุดของโรงแรม</td>
              </tr>
              <tr>
                <th scope="row">Suite</th>
                <td>เป็นห้องที่มีส่วนของห้องนั่งเล่นอยู่ด้วย มีการแบ่งสัดส่วนที่ชัดเจน
                  ครบครันด้วยเฟอร์นิเจอร์และสิ่งอำนวยความสะดวก
                  ทำให้ห้องประเภทนี้มีขนาดกว้างกว่าห้องประเภทอื่น
                  และมีการตกแต่งที่หรูหรา
                  เหมาะสำหรับผู้เข้าพักเป็นครอบครัวหรือคู่รัก</td>
              </tr>
              <tr>
                <th scope="row">Family</th>
                <td> ห้องพักที่เหมาะสำหรับครอบครัวหรือกลุ่มเพื่อน
                  มีเตียงหลายหลังอยู่ภายในห้อง ส่วนมากจะพักได้ไม่เกิน 4-6 ท่าน</td>
              </tr>
              <tr>
                <th scope="row">Studio</th>
                <td> ห้องพักขนาดใหญ่ อารมณ์เหมือนคอนโด มีการแบ่งสัดส่วนของห้องชัดเจน
                  แยกห้องนั่งเล่นออกจากห้องนอน
                  อาจมีบริเวณครัวเล็กๆที่สามารถประกอบอาหารภายในห้องพักได้</td>
              </tr>
              <tr>
                <th scope="row"> Connecting </th>
                <td>ห้องพักที่มีประตูเชื่อมต่อไปยังอีกห้องหนึ่งที่ติดกันได้
                  สามารถเปิดถึงกันได้</td>
              </tr>
              <tr>
                <th scope="row">Cabana</th>
                <td>ห้องที่อยู่ระดับพื้นดิน หรือใกล้สระว่ายน้ำ หรือชายหาด</td>
              </tr>
              <tr>
                <th scope="row">Duplex</th>
                <td> ห้องพักมีสองชั้น อาจจะแบ่งเป็นห้องนั่งเล่นห้องครัวชั้นนึง
                  ส่วนอีกชั้นเป็นห้องนอน ขนาดห้องเกิน 100 ตารางเมตรขึ้นไป
                  เหมาะกับการพักผ่อนยาวๆกับครอบครัวใหญ่ที่มีสมาชิกหลายคน</td>
              </tr>
              <tr>
                <th scope="row">Villa</th>
                <td> ลักษณะเป็นบ้านพัก มีบริเวณบ้าน มีสวน ลานจอดรถ
                  เหมือนบ้านที่อยู่อาศัย ส่วนมากมักมีเพียง 1 ห้องนอน</td>
              </tr>
              <tr>
                <th scope="row">Adjoining</th>
                <td>ห้องพัก 2 ห้อง ที่อยู่ติดกัน</td>
              </tr>
              <tr>
                <th scope="row">Honeymoon</th>
                <td>ห้องสำหรับคู่รัก จะมีเตียงนอนขนาดใหญ่สำหรับ 2 คน
                  มีสิ่งอำนวยความสะดวก และการตกแต่งช่วยเพิ่มบรรยากาศดีๆ
                  ให้กับคู่รักมากกว่าห้องพักมาตรฐานทั่วไป</td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-gradient-primary" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
          <span class="ml-1">ปิด</span>
        </button>
      </div>
    </div>
  </div>
</div>