<label class="form-label">ประเภทห้อง <sub>*</sub></label>
<button class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#roomTypeDescriptModal">
  <i class="fa-solid fa-info"></i>
</button>