<div class="col-md-2">
  <div class="input-group my-1">
    <input type="number" value="1" min="1" class="form-control" id="count-room" />
    <button class="input-group-text btn bg-gradient-primary border-0 rounded-0" id="addCountNumber">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
</div>
<p class="my-1 p-2">ป้อนจำนวนห้องที่ต้องการเพิ่ม</p>
<div class="card">
  <div class="card-header bg-gradient-secondary">
    <h5 class="card-title">หมายเลขห้อง</h5>
  </div>
</div>