<div class="modal fade" id="booking-report-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-gradient-teal align-items-center">
        <h5 class="modal-title">รายละเอียดการจอง</h5>
        <button type="button" class="ac-btn ac-close-modal" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        <div id="booking-report-print">
          <table class="table table-striped table-bordered">
            <tbody>
              <tr>
                <th class="align-middle">รหัสการจอง</th>
                <td class="align-middle text-detail"></td>
                <th class="align-middle">รหัสห้อง</th>
                <td class="align-middle text-detail"></td>
              </tr>

              <tr>
                <th class="align-middle">หมายเลขห้อง</th>
                <td class="align-middle text-detail"></td>
                <th class="align-middle">วันที่จอง</th>
                <td class="align-middle text-detail"></td>
              </tr>

              <tr>
                <th class="align-middle">ชื่อ</th>
                <td class="align-middle text-detail"></td>
                <th class="align-middle">นามสกุล</th>
                <td class="align-middle text-detail"></td>
              </tr>
              <tr>
                <th class="align-middle">เบอร์ติดต่อ</th>
                <td class="align-middle text-detail"></td>
              </tr>

              <tr>
                <th class="align-middle">วันเข้าพัก</th>
                <td class="align-middle text-detail"></td>
                <th class="align-middle">วันออก</th>
                <td class="align-middle text-detail"></td>
              </tr>

              <tr>
                <th class="align-middle">เวลาพัก</th>
                <td class="align-middle text-detail"></td>
                <th class="align-middle">จำนวนคนพัก</th>
                <td class="align-middle text-detail"></td>
              </tr>

              <tr>
                <th class="align-middle">ยอดรวม</th>
                <td class="align-middle text-detail"></td>
                <th class="align-middle">ช่องทางการชำระเงิน</th>
                <td class="align-middle text-detail"></td>
              </tr>

              <tr>
                <th class="align-middle">สถานะ</th>
                <td class="align-middle text-detail"></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn bg-gradient-danger" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
          <span class="font-weight-bold ml-1">ปิด</span>
        </button>
      </div>
    </div>
  </div>
</div>