<div class="modal fade" id="bookingReportPrintModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header align-items-center bg-gradient-info">
        <h5 class="modal-title">พิมพ์ใบเสร็จการจอง</h5>
        <button type="button" class="ac-btn ac-close-modal" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button class="btn bg-gradient-danger" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
          <span class="font-weight-bold ml-1">ปิด</span>
        </button>
       
      </div>
    </div>
  </div>
</div>